
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar toggle button-->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li>
        <a [routerLink]="" class="sidebar-toggle"  data-toggle="offcanvas" role="button">
          <i class="fa fa-bars" style="float: right;">
          <span class="sr-only">Toggle navigation</span>
        </i>
        </a>
      </li>
      <li>
        <a routerLink="/admin/dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class=" treeview">
        <a>
          <i class="fa  fa-folder-o"></i>
          <span>Predictive Analytics</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="">
            <a routerLink="marketing">
              <i class="fa fa-circle-o"></i> Marketing</a>
          </li>
          <li>
            <a routerLink="technology">
              <i class="fa fa-circle-o"></i> Technology</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-folder-o"></i>
          <span>System Analytics</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="solutions">
              <i class="fa fa-circle-o"></i> Soutions</a>
          </li>
          <li>
            <a routerLink="progress">
              <i class="fa fa-circle-o"></i> Progress</a>
          </li>
          <li>
            <a routerLink="innovation">
              <i class="fa fa-circle-o"></i> Innovation</a>
          </li>
          <li>
            <a routerLink="talent">
              <i class="fa fa-circle-o"></i> Talent</a>
          </li>
          <li>
            <a routerLink="culture">
              <i class="fa fa-circle-o"></i> Culture</a>
          </li>
          <li>
            <a routerLink="industries">
              <i class="fa fa-circle-o"></i> Industries</a>
          </li>
          <li>
            <a routerLink="alignment">
              <i class="fa fa-circle-o"></i> Alignment</a>
          </li>
          <li>
            <a routerLink="risk">
              <i class="fa fa-circle-o"></i> Risk</a>
          </li>
          
        </ul>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-user"></i>
          <span>Control Analytics</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="infrastructure">
              <i class="fa fa-circle-o"></i> Infrastructure</a>
          </li>
          <li>
            <a routerLink="finance">
              <i class="fa fa-circle-o"></i> Finance</a>
          </li>
          <li>
            <a routerLink="statutory">
              <i class="fa fa-circle-o"></i> Statutory</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-user"></i>
          <span>Process Analytics</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/admin/projects">
              <i class="fa fa-circle-o"></i> Projects</a>
          </li>
          <li>
            <a routerLink="/admin/quality">
              <i class="fa fa-circle-o"></i> Quality</a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/admin/setup">
          <i class="fa fa-suitcase"></i>
          <span>Setup</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/structure">
          <i class="fa fa-bars"></i>
          <span>Structure</span>
        </a>
      </li>
      <li class="treeview">
        <a>
          <i class="fa fa-user"></i>
          <span>Admin</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="manageusers">
              <i class="fa fa-circle-o"></i> Manage Users</a>
          </li>
          <li>
            <a routerLink="preferences">
              <i class="fa fa-circle-o"></i>Preferences</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>