<div class="col-sm-12 clearfix margintop20">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat blue-madison">
          <div class="visual">
              <i class="fa fa-comments"></i>
          </div>
          <div class="details">
              <div class="number">
                  9
              </div>
              <div class="desc">
                  Exceptions
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat red-intense">
          <div class="visual">
              <i class="fa fa-bar-chart-o"></i>
          </div>
          <div class="details">
              <div class="number">
                  2/5
              </div>
              <div class="desc">
                  KRA
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat green-haze">
          <div class="visual">
              <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="details">
              <div class="number">
                  4/5
              </div>
              <div class="desc">
                  KPI
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="dashboard-stat purple-plum">
          <div class="visual">
              <i class="fa fa-globe"></i>
          </div>
          <div class="details">
              <div class="number">
                  SCOPE
              </div>
          </div>
      </div>
  </div>
  <div class="col-sm-12">
      <div class="panel panel-default ">
          <div class="panel-body row ">
              <div class="col-sm-4">
                  <select class="form-control" name="Location">
                      <option value="">Location Search</option>
                      <option value="">Chennai</option>
                      <option value="">Delhi</option>
                      <option value="">Hyderabad</option>
                      <option value="">Kolkata</option>
                      <option value="">Mumbai</option>
                  </select>
              </div>
              <div class="col-sm-4">
                  <select class="form-control" name="Division">
                      <option value="">Division Search</option>
                      <option value="">Division1</option>
                      <option value="">Division2</option>
                      <option value="">Division3</option>
                      <option value="">Division4</option>
                      <option value="">Division5</option>
                  </select>
              </div>
              <div id="dashboard-report-range" class="tooltips btn btn-fit-height grey-salt col-sm-4" data-placement="top" data-original-title="Change dashboard date range"><i class="icon-calendar"></i>&nbsp;<span class="thin uppercase visible-lg-inline-block">September 3, 2018 - October 2, 2018</span>&nbsp;<i class="fa fa-angle-down"></i></div>
          </div>
      </div>
  </div>
</div>