<div class="tab-pane active" id="tab_15_3">
    <div class="col-sm-9 margintop20">
        <div class="row nopadding">
            <div class="col-sm-3">
                <label class="lblfnt">Default Email (in characters):</label>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="optionmatrix@support.com">
            </div>
        </div>

        <div class="col-sm-5 col-sm-offset-3 margintop10">
            <button class="btn btn-success">Update</button>
        </div>
    </div>
</div>