<div class="col-sm-8 margintop20">
    <div class="row nopadding">
        <div class="col-sm-4">
            <label class="lblfnt">Account Name:</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="CEO Agenda">
        </div>
    </div>
    <div class="row nopadding margintop10">
        <div class="col-sm-4">
            <label class="lblfnt">Account ID:</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="A744ASFSADF44545475448DFS">
        </div>
    </div>
    <div class="row nopadding margintop10">
        <div class="col-sm-4">
            <label class="lblfnt">Account Auth Token:</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="sdas4454878145f7dasd454">
        </div>
    </div>
    <div class="row nopadding margintop10">
        <div class="col-sm-12 col-sm-offset-4">
            <button class="btn btn-success">Save</button>
            <button class="btn btn-Clear">Test</button>
        </div>
    </div>
</div>