<div id="table1_wrapper" class="dataTables_wrapper no-footer">
    <div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="dataTables_length" id="table1_length">
            <label> 
    <select name="table1_length" aria-controls="table1" class="form-control input-xsmall input-inline">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select> records </label>
</div>
</div>
<div class="col-md-6 col-sm-12">
    <div id="table1_filter" class="dataTables_filter">
        <label>Search:
            <input type="search" class="form-control input-small input-inline" placeholder="" aria-controls="table1">
        </label>
        </div>
    </div>
</div>
<div class="table-scrollable">
    
    <table class="table table-responsive table-bordered dataTable no-footer" id="table1" role="grid" aria-describedby="table1_info">
    <thead>
        <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column ascending" style="width: 0px;">Name</th>
            <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 0px;">Description</th>
            <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Previous Value: activate to sort column ascending" style="width: 0px;">Previous Value</th>
            <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="New Value: activate to sort column ascending" style="width: 0px;">New Value</th>
            <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 0px;">Action</th></tr>
    </thead>
    <tbody>
        

    <tr role="row" class="odd">
            <td class="sorting_1">Audit Remainder</td>
            <td>Number of days before overdue</td>
            <td>1 Day</td>
            <td>
                <select class="form-control">
                    <option selected="selected">1</option>
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </td>
            <td><a>Save</a></td>
        </tr><tr role="row" class="even">
            <td class="sorting_1">Grid Length</td>
            <td>Default Grid Length</td>
            <td>10</td>
            <td>
                <select class="form-control">
                    <option>5</option>
                    <option selected="selected">10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </td>
            <td><a>Save</a></td>
        </tr><tr role="row" class="odd">
            <td class="sorting_1">Notification Email</td>
            <td>Default Admin Notification Email</td>
            <td>ceoagenda@support.com</td>
            <td>
                <input type="text" class="form-control">
            </td>
            <td><a>Save</a></td>
        </tr><tr role="row" class="even">
            <td class="sorting_1">Rating Slider Benchmark</td>
            <td>Value below which ticket is raised</td>
            <td>6</td>
            <td>
                <select class="form-control">
                    <option selected="selected">6</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </td>
            <td><a>Save</a></td>
        </tr><tr role="row" class="odd">
            <td class="sorting_1">Ticket Remainder</td>
            <td>Number of days before overdue</td>
            <td>2 Days</td>
            <td>
                <select class="form-control">
                    <option selected="selected">2</option>
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </td>
            <td><a>Save</a></td>
        </tr></tbody>
</table>
</div>
<div class="row">
  <div class="col-md-5 col-sm-12">
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="dataTables_paginate paging_simple_numbers" id="table1_paginate">
        <ul class="pagination">
          <li class="paginate_button previous disabled" aria-controls="table1" tabindex="0" id="table1_previous">
            <a href="#"><i class="fa fa-angle-left"></i></a>
          </li>
            <li class="paginate_button active" aria-controls="table1" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button next disabled" aria-controls="table1" tabindex="0" id="table1_next">
                <a href="#"><i class="fa fa-angle-right"></i></a>
              </li>
              </ul>
              </div>
              </div>
              </div>
              </div>